<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 配置注解扫描器 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation"
		expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
		expression="org.springframework.web.bind.annotation.RestController" />
	</context:component-scan>
	
	<!-- 开启spring mvc配置 -->
	<!-- 可以代替RequestMappingHandlerMapping和RequestMappingHandlerAdapter -->
	<!-- 内置了大量参数转换器 -->
	<!-- 也可以自定义转换器 -->
	<!-- 可以使用@RequestBody接收json参数也可以使用@ResponseBody返回json数据 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 处理静态文件，将静态资源交给servlet容器内置的名字叫default的servlet处理 -->
	<mvc:default-servlet-handler/>
	
	<mvc:resources location="file:d:/upload/" mapping="/pic/**" />
	<!-- 定制静态文件资源位置和访问路径 -->
	<!-- 定制到classpath:/static,访问url:/s/** -->
	<!-- <mvc:resources location="classpath:/static/" mapping="/s/**" /> -->
	<mvc:resources location="classpath:/static/" mapping="/s/**" />
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>